/*ul.stack {
    list-style: none;
    width: inherit;
    height: inherit;
    clear: both;
    display: flex;
    padding-left: 0px;
}
ul.stack li {
    float: left;
    padding-right: 1em;
}*/
ul.stack li a {
    border-bottom: none;
}
ul.stack li a img {
    opacity: .9;
}
ul.stack li a:hover img {
    opacity: 1;
}

section.style2 {
    background-color:#8d82c4;
}
section.fragment .inner header.major > :first-child:after {
    background-color:#8d82c4;
}

section.fragment .inner h2,  section.fragment .inner p, section.fragment .button{
    color:#8d82c4;
}
section.fragment .inner .button {
    box-shadow: inset 0 0 0 2px #8d82c4;
}
section.fragment .inner .button.next:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %238d82c4%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
}
section.fragment  .inner .button:hover {
    box-shadow: inset 0 0 0 2px #9bf1ff;
}
section.fragment .inner .button.next:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %239bf1ff%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
}
#header.alt.style2  {

}
#main {
    background-color: #FFF;
}
